<div id="postListing">
	<h1 style="font-style: italic;">Sleuth: A collective noun for a group of bears.</h1>
		<p>Hello- My name is Brittany, but growing up my family always called me Bear. I've settled back into my hometown in the Mitten with my husband and our two wiener dogs. The four of us are anxiously awaiting our fifth member: Little Bear.</p>
		<p>As the seasons change and our sleuth continues to grow, this platform acts as an oversimplification of our family, interests, and hobbies-- and most importantly-- a link to our growing past.</p>
		<i>-Mama Bear</i>
</div>